<div class="main-container pb-5">
<div class="container px-4 text-center">
  <div class="container">

    <div class="row bg-white saldo-grid topRow">
      <div class="col-sm-6 col-md-3">
        Saldo
      </div>
      <div class="col-sm-6 col-md-3">
        1000000
      </div>
      <div class="col-sm-6 col-md-3">
        Depositar
      </div>
      <div class="col-sm-6 col-md-3">
        Retirar
      </div>
    </div>

    <hr>

    <div class="cryptoTable">
      <div class="row bg-white crypto-grid topRow" >
        <div class="col-sm-6 col-md-4">
          crypto
        </div>
        <div class="col-sm-6 col-md-4">
          Cantidad
        </div>        
      </div>
      <div class="row bg-white crypto-grid" *ngFor="let crypto of userCryptos" >
        <div class="col-sm-6 col-md-4">
          {{crypto.name}}
        </div>
        <div class="col-sm-6 col-md-4">
          {{crypto.quantity}}
        </div>        
      </div>
    </div>
    
    <hr>

    <div class="movementTable">
      <div class="row bg-white topRow">
        <div class="col-sm-3">Fecha</div>
        <div class="col-sm-3">Moneda Inicial</div>
        <div class="col-sm-3">Moneda Final</div>
        <div class="col-sm-3">Monto</div>
      </div>
      <div class="row bg-white" *ngFor="let movement of userMovements">
        <div class="col-sm-3">{{movement.fecha}}</div>
        <div class="col-sm-3">{{movement.desde}}</div>
        <div class="col-sm-3">{{movement.hacia}}</div>
        <div class="col-sm-3">{{movement.monto_de_origen}}</div>
      </div>
    </div>





  </div>  
</div>
</div>