<div class="main-container pb-5">
<div class="container px-4 text-center">
  <div class="container-wallet">
    <h2>Mi Billetera</h2>

    <div class="saldoTable">
    
  </div>
    <hr>
    <div class="usdTable">

      <form [formGroup]="transactionForm" (ngSubmit)="onFormSubmit()">

        <div class="usdInput">
          <input type="number" formControlName="usd"  placeholder="Ingrese un Monto">
          <div *ngIf="Usd?.invalid && (Usd?.dirty || Usd?.touched)" class="alert alert-danger">
            <div *ngIf="Usd?.errors?.['required']" class="text-danger">
              Debe ingresar un valor.
            </div>
          </div>
        </div>        

        <div class="transactionInputs">
          <input type="radio" value="Deposito" formControlName="transaction"> Depósito
          <input type="radio" value="Retiro" formControlName="transaction"> Retiro
          <div *ngIf="Transaction?.invalid && (Transaction?.dirty || Transaction?.touched)" class="alert alert-danger">
            <div *ngIf="Transaction?.errors?.['required']" class="text-danger">
              Debe elegir una opción.
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>

      <div class="row saldo-grid">
        <div class="col-sm-6 col-md-6">
          Saldo
        </div>
        <div class="col-sm-6 col-md-6">
          USD {{saldo}}
        </div>      
      </div>

    </div>
    <hr>
    <div class="cryptoTable">
      <div class="row crypto-grid " >
        <div class="col-sm-6 col-md-6">
          crypto
        </div>
        <div class="col-sm-6 col-md-6">
          Cantidad
        </div>        
      </div>
      <div class="row crypto-grid" *ngFor="let crypto of userCryptos" >
        <div class="col-sm-6 col-md-6">
          {{crypto.name}}
        </div>
        <div class="col-sm-6 col-md-6">
          {{crypto.quantity}}
        </div>        
      </div>
    </div>
    
    <hr>

    <div class="movementTable">
      
      <div class="row movement-grid">
        <div class="col-sm-3">Fecha</div>
        <div class="col-sm-3">Moneda Inicial</div>
        <div class="col-sm-3">Moneda Final</div>
        <div class="col-sm-3">Monto</div>
      </div>
      <div class="row movement-grid" *ngFor="let movement of userMovements">
        <div class="col-sm-3">{{movement.fecha}}</div>
        <div class="col-sm-3">{{movement.desde}}</div>
        <div class="col-sm-3">{{movement.hacia}}</div>
        <div class="col-sm-3">{{movement.monto_de_origen}}</div>
      </div>
    
    </div>

  </div>  
</div>
</div>