.main-container{
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.container-wallet{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    overflow-y: scroll;
}
.row{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.topRow{
    border-top: 2px solid black;
}

.crypto-grid{
    width: 100%;
}

.cryptoTable{
    width: 60%;
    
}

.movementTable{
    width: 60%;
   
}
@media screen and (max-width:1000) {
    .main-container{
        width: 100vw;
        height: 100vh;
    }
}