.container{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vw;
    padding-left: 15vw;    
}

.card{
    border: 1px solid white;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width: 90%;
}
tr{
    padding-top: 100%;
    padding-bottom: 100%;
}

.boton{
    display:flex;
    justify-content: right;
    align-items: right;
}