<div class="container">
    <h1>Cotizaciones</h1>
    <div class="card">
        
    <table class="table">
       
        <div class="grid">
            <div class="row center" *ngFor="let coin of cryptos">
                <div class="col-4">
                    {{coin.name}}
                </div>               
                    <div class="col-4">
                        Usd $ {{coin.price.toLocaleString()}}
                    </div>
                    
                    <div class="col-4">                     
                     <a routerLink="/venta"><button type="button" class="btn btn-primary">Vender</button></a>
                     <a routerLink="/comprar"><button type="button" class="btn btn-primary">Comprar</button></a>
                    </div>
                    <hr/>
            </div>
        </div>
     </table>
    </div>    
</div>