.CompraContainer{
    width: 90vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gridFormContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height:70%;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 10%;
    margin-bottom: 10%; 
    background-color: white;  
    opacity: 0.85; 
}

.gridFormContainer form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.gridFormContainer form select{
    height: 2rem;
    border-radius: 5px;
    width: 30%;
}
.gridFormContainer form button{
    width: 30%;
}

.gridContainer{
    width: 90%;
}
.cell{
    border: 1px solid black;    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}
.gridButton{
    width: 100%;
    height: 3em;
    margin: 0;
    border-radius: 0;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .modalSaldo{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
 }
.modalTitulo{
    font-size: 1.2rem;
    font-weight: 400;
    
}

@media screen and (max-width: 800px){
    .gridFormContainer form select{
        height: 2rem;
        border-radius: 5px;
        width: 80%;
    }

    .gridFormContainer form button{
        width: 40%;
    }

    .gridFormContainer form{
        margin-top: 0;
    }

    .gridFormContainer{        
        width: 98%;
        height: 50%;        
    }    

    #buyButtonCell{
        font-size: small
    }
}

