
<nav class="navbar">
    <div class="navbar_logoContainer">
        <img src="https://imgs.search.brave.com/BRlB4uVMKE9U6Cl1oMLdCProQ7Ps-FpimTmtpNLtox0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/cG5nYXJ0cy5jb20v/ZmlsZXMvMy9CaXRj/b2luLUZyZWUtUE5H/LUltYWdlLnBuZw" alt="bitcoin" class="navbar_logo">
        <h1 class="navbar_title">CryptoApp</h1>    
    </div>
   

    <div class="navbar_userContainer">
        <h3 class="navbar_userName">{{usuario}}</h3>
        <img src="https://imgs.search.brave.com/PyLxElqOv0c5Tufk6RvOZ0AdD9Ktt5WpTnLjIy8UPjo/rs:fit:1200:1200:1/g:ce/aHR0cDovL2Rhc2hi/b2FyZC5vbHVjYXJv/LmNvbS9vbHVjYXJv/ZGFzaGJvYXJkL2Fz/c2V0cy9wcm9maWxl/cy91c2VyX21hbGVf/cG9ydHJhaXQucG5n" alt="user" class="navbar_userImg">
    </div>
    
</nav>