<div class="mainContainer">   

    
    <div class="gridFormContainer">
        <form [formGroup]="coinForm" (ngSubmit)="submit()">
            <select name="Crypto" id="cryptoSelector" (change)="changeCoin($event)" formControlName="coinName" >
                <option value="" disabled [defaultSelected]="true">Elegir Crypto</option>
                <option *ngFor="let crypto of user.wallet.crypto" [ngValue]="crypto.crypto_id" >{{crypto.name}}</option>                
            </select>
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="container gridContainer">
            <div class="row">
                <div class="col-4 text-center bg-white cell">Crypto</div>
                <div class="col-3 text-center bg-white cell">Precio</div>
                <div class="col-3 text-center bg-white cell">Cantidad</div>
                <div class="col-2 text-center bg-white cell"></div>
                <div id="cryptoCell" class="col-4 text-center bg-white cell">{{selectedCoin.name}}</div>
                <div id="priceCell" class="col-3 text-center bg-white cell">{{selectedCoin.price}}</div>
                <div id="amountCell" class="col-3 text-center bg-white cell">{{selectedCoin.amount}}</div>
                <div id="sellButtonCell" class="col-2 text-center bg-white cell"><button type="button" id="buyButton" class="btn btn-primary gridButton" [disabled]="buyButtonDisabled" (click)="openFormModal()">Vender</button></div>                            
            </div>
        </div>        
    </div>   

</div>

<div class="modal" id="buyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" class="modalTitulo">Seleccione la cantidad de {{selectedCoin.name}} que desea vender.</h5>
          
        </div>
        <form [formGroup]="buyForm" (ngSubmit)="onBuy()">
        <div class="modal-body">
          
            <input type="number" id="amountToBuy" (change)="getAmount($event)" formControlName="amountToBuy"/>         
         
          
          <p class="modalSaldo">saldo disponible: USD{{usd}}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Vender</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
        </div>
        </form>
      </div>
    </div>
</div>