
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.png');">
        <div class="icons-container"  (click)="openCloseBar()">
            <img class="menuIcon" src="../../../../assets/icons/menu.png">
        </div>
        <div class="navegation-bar" #navegationBar>
            
            <ul class="navbar_buttons">

                <li class="linkLi" (click)="navigateTo('wallet')">
                    Mi Billetera
                </li>
            
                <li class="linkLi" (click)="navigateTo('cotizaciones')">
                    Cotizaciones
                </li>
               
                <li class="linkLi" (click)="navigateTo('about-us')">
                    Quienes Somos
                </li>
            </ul>
            
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

