
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.png');">
       <!-- <div class="side-card">
            
            <ul class="navbar_buttons">

                <li class="linkLi" (click)="navigateTo('wallet')">
                    Mi Billetera
                </li>
            
                <li class="linkLi" (click)="navigateTo('cotizaciones')">
                    Cotizaciones
                </li>
               
                <li class="linkLi" (click)="navigateTo('about-us')">
                    Quienes Somos
                </li>
            </ul>
            <div class="saldo-container">
                <h3>Saldo:</h3>
                <p>${{saldo}}</p>
            </div>
        </div> -->
        <router-outlet></router-outlet>
    </div>
</div>

