
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.png');">
        <div class="side-card">
            
            <ul class="navbar_buttons">

                <li class="linkLi" (click)="navigateTo('wallet')">
                    My Wallet
                </li>
            
                <li class="linkLi" (click)="navigateTo('cotizaciones')">
                    Cotizaciones
                </li>
               
                <li class="linkLi" (click)="navigateTo('about-us')">
                    About Us
                </li>
            </ul>
            
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

