.landingContainer{
    width: 100vw;
    height: 85vh;    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


img{ 
    height: 90%;
    aspect-ratio: 3840/2160;
    animation-name: opacityChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    opacity: 1;
    border-radius: 100%;
}

@keyframes opacityChange{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}

