footer{
    border-top: 2px solid #B2B2B2 ;
    color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    margin-top: 50vh;
}